*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

header{
  padding-top: 40px;
  font-weight: 700;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

h1{
  color: #e53170;
  text-transform: capitalize;
  font-weight: bolder;
  text-align: center;
}

p{
  text-align: center;
  padding-bottom: 20px;
}


.container{
  padding-top: 40px;
  width: 70%;
  margin: 0 auto;
}

.card{

  float: left;
  width: calc(100% / 3)
}

.col{
  margin: 20px 20px;
  background-color: black;
}

.card img{
  float: left;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.card .dida{
  padding: 10px;
  color: white;
  float: left;
}

.card h3, span{
  padding: 5px;
}

.card h3{
  text-transform: uppercase;
}

.mail{
  display: block;
  color: #00c0f3;
}
